@layout("Dashboard", 0, Seq("/assets/javascripts/admin/dashboard.js")) {

<h2>Dashboard</h2>
<div id="tabs">
    <a href="#" class="current">Home</a>
    <a href="#">Server Status</a>
</div>
<div id="body">
    <div class="row">
        <div class="col-xs-12">
            <div id="manager-list" class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>System Managers</h3>
                </div>
                <div class="content content-loader">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Username</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>System Managers</h3>
                </div>
                <div class="content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Username</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <h3>System Managers</h3>
                </div>
                <div class="content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Username</td>
                            <td>Operation</td>
                        </tr>
                        </thead>
                        <tbody id="managers-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

}