<div id="navbar">
    <div id="search-bar" class="pull-left">
        <input type="text" placeholder="Quick Access">
    </div>
    <ul id="top-nav" class="nav btn-group pull-right">
        <li class="btn top-nav-btn">
            <a title="" href="javascript:">
                <span class="glyphicon glyphicon-user"></span>
                <span class="text">Welcome username!</span>
            </a>
        </li>
        <li class="btn top-nav-btn">
            <a title="" href="javascript:">
                <span class="glyphicon glyphicon-envelope"></span>
                <span class="text">Mails</span>
                <!--
                <span class="label">5</span>
                -->
            </a>
        </li>
        <li class="btn top-nav-btn">
            <a title="" href="javascript:">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="text">Log out</span>
            </a>
        </li>
    </ul>
</div>