@(current: Integer)

<div id="sidebar">
    <ul id="menu">
        <li>
            <a class="active" href="javascript:" id="menu-dashboard">
                <span class="glyphicon glyphicon-home"></span>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:" id="menu-accounts">
                <span class="glyphicon glyphicon-user"></span>
                <span>Volunteers</span>
                <span class="label">7</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-th"></span>
                <span>Organizations</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-calendar"></span>
                <span>Volunteer Opportunities</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                <span>Voluntary Records</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-gift"></span>
                <span>Donations</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-tasks"></span>
                <span>Transactions</span>
            </a>
        </li>
        <li>
            <a href="javascript:">
                <span class="glyphicon glyphicon-info-sign"></span>
                <span>Help centre</span>
            </a>
        </li>
    </ul>
</div>