@layout("Volunteer Calendar", 0, Seq(), Seq("/assets/stylesheets/portal/calendar.css")){

<h2>Volunteer Calendar</h2>

<div id="calendar-wrapper">
    <div id="event-filter">
        <h4>Event Filter</h4>
        <ul id="event-type">
            <li>Children Care</li>
            <li>Silver Care</li>
        </ul>
    </div>
    <div id="calendar">
        <div class="thead col1">Sunday</div>
        <div class="thead col2">Monday</div>
        <div class="thead col3">Tuesday</div>
        <div class="thead col4">Wednesday</div>
        <div class="thead col5">Thursday</div>
        <div class="thead col6">Friday</div>
        <div class="thead col7">Saturday</div>

        <div class="row1 col1 cell"></div>
        <div class="row1 col2 cell"></div>
        <div class="row1 col3 cell">
            <div class="day">1</div>
            <div class="event-list">
                <a href="/event">Silver IT Care</a>
                <a href="/event">Silver IT Care</a>
            </div>
        </div>
        <div class="row1 col4 cell"></div>
        <div class="row1 col5 cell"></div>
        <div class="row1 col6 cell"></div>
        <div class="row1 col7 cell"></div>

        <div class="row2 col1 cell"></div>
        <div class="row2 col2 cell"></div>
        <div class="row2 col3 cell"></div>
        <div class="row2 col4 cell"></div>
        <div class="row2 col5 cell"></div>
        <div class="row2 col6 cell"></div>
        <div class="row2 col7 cell"></div>

        <div class="row3 col1 cell"></div>
        <div class="row3 col2 cell"></div>
        <div class="row3 col3 cell"></div>
        <div class="row3 col4 cell"></div>
        <div class="row3 col5 cell"></div>
        <div class="row3 col6 cell"></div>
        <div class="row3 col7 cell"></div>

        <div class="row4 col1 cell"></div>
        <div class="row4 col2 cell"></div>
        <div class="row4 col3 cell"></div>
        <div class="row4 col4 cell"></div>
        <div class="row4 col5 cell"></div>
        <div class="row4 col6 cell"></div>
        <div class="row4 col7 cell"></div>

        <div class="row5 col1 cell"></div>
        <div class="row5 col2 cell"></div>
        <div class="row5 col3 cell"></div>
        <div class="row5 col4 cell"></div>
        <div class="row5 col5 cell"></div>
        <div class="row5 col6 cell"></div>
        <div class="row5 col7 cell"></div>

        <div class="row6 col1 cell"></div>
        <div class="row6 col2 cell"></div>
        <div class="row6 col3 cell"></div>
        <div class="row6 col4 cell"></div>
        <div class="row6 col5 cell"></div>
        <div class="row6 col6 cell"></div>
        <div class="row6 col7 cell"></div>
    </div>
</div>

}