@layout("Event", 0, Seq("/assets/javascripts/portal/event.js"), Seq("/assets/stylesheets/portal/event.css")){

<h2>Silver IT Care</h2>

<div class="event-detail">
    <div class="image">
        <img src="/assets/images/_test/project1.jpg" />
    </div>
    <div class="funding-progress">
        <div class="funding-progress-value" style="width: 61%"></div>
    </div>
</div>

<div class="event-content">
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
    <p>Description</p>
</div>

}